$background-bar: rgb(16, 16, 18);
$background: rgb(16, 16, 18);
$widget-background: rgba(17, 16, 25, 1);

$black: #282a36;
$red: #f7768e;
$green: #73daca;
$yellow: #fbd91b;
$orange: #ffaa4f;
$blue: #7aa2f7;
$light-blue: #7dcfff;
$purple: #f1a7e2;
$purple2: #ecdbee;
$teal: #72b69c;
$white: #c0caf5;
$pink: #ff79c6;

$primary: #d3e8ff;
$secondary: #f1a7e2;
$tertiary: #93f0e2;
