$background: rgb(16, 16, 18);

$black: #282a36;
$red: #f7768e;
$green: #73daca;
$yellow: #fbd91b;
$orange: #ffaa4f;
$blue: #7aa2f7;
$light-blue: #7dcfff;
$purple: #f1a7e2;
$teal: #72b69c;
$white: #c0caf5;
$pink: #ff79c6;
