@import './colors.scss';

// Left

.launcher-module {
  background-color: rgba(00, 00, 00, 0);
  font-size: 24px;
  padding: 0 8px 0 8px;
}

.launcher-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.clock-time-class {
  color: $white;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

// Center

.workspaces-module {
  padding: 0 10px 0 10px;
}

// Right

.gpu-module {
  margin: 0 8px 0 10px;
}

.cpu-module {
  margin: 0 8px 0 8px;
}

.battery-module {
  margin: 0 8px 0 8px;
}

.memory-module {
  margin: 0 8px 0 8px;
}

.storage-module {
  margin-right: 10px;
}

.storage-module-label {
  margin-left: 5px;
}

.storage-circle {
  margin: 4px;
  color: $light-blue;
  border-radius: 10px;
}

// Misc

.bar-base {
  background-color: $background;
  border-radius: 12px;
  margin: 6px 10px 6px 10px;
  padding: 2px;
}

.vertical-sep {
  color: $black;
  font-size: 24px;
}

// Tooltips

tooltip.background {
  background-color: $background;
  font-size: 18px;
  border-radius: 10px;
  color: $white;
}

tooltip label {
  margin: 6px;
}
