// Bar

.bar-item {
  padding: 2px 12px 2px 12px;
  margin: 0 0 0 12px;
  background-color: $background;
}

.bar-button {
  padding: 2px 12px 2px 12px;
  background-color: $background;
  margin: 12px;
}

// Power Menu

.powermenu {
  border-radius: 16px;
  background-color: $background;
}

.power-button {
  margin: 12px 12px 12px 12px;
}

// Calendar

.calendar {
  background-color: $background;
  padding: 4px;
}
